#ce-side-nav {
  .nav-list {
    .nav-link {
      color: #fff;
      text-decoration: none;
			&:visited {
				color: #fff;
        text-decoration: none;
			}
      svg{
        transition: min-width .3s ease-in-out;
      }
		}
	}
}
.profile-link{
  color: #fff;
  text-decoration: none;
}
