#ce-side-nav .nav-list .nav-link {
  color: #fff;
  text-decoration: none;
}

#ce-side-nav .nav-list .nav-link:visited {
  color: #fff;
  text-decoration: none;
}

#ce-side-nav .nav-list .nav-link svg {
  transition: min-width 0.3s ease-in-out;
}

.friend-req-notif .btns-wrap {
  margin-top: .5rem;
}

.friend-req-notif .btns-wrap .btn-accept {
  color: #fff;
  background-color: #229e32;
}

.friend-req-notif .btns-wrap .btn-accept:hover {
  background-color: rgba(34, 158, 51, 0.7);
}

.friend-req-notif .btns-wrap .btn-decline {
  color: #ff0000;
  border: 1px solid rgba(255, 0, 0, 0.45);
  background-color: rgba(255, 0, 0, 0.2);
  margin-left: .75rem;
}

.friend-req-notif .btns-wrap .btn-decline:hover {
  border: 1px solid rgba(255, 0, 0, 0.5);
  background-color: rgba(255, 0, 0, 0.3);
}

.profile-link {
  color: #fff;
  text-decoration: none;
}
