#ce-side-nav {
	.nav-list {
		.nav-link {
			color: #fff;
			text-decoration: none;
			&:visited {
				color: #fff;
				text-decoration: none;
			}
			&.active {
				display: block;
				.MuiButtonBase-root {
					background-color: #ffca28;
					color: #21242e;
				}
			}
			svg {
				transition: min-width 0.3s ease-in-out;
			}
		}
	}
}
.friend-req-notif {
	.btns-wrap {
		margin-top: 0.5rem;
		.btn-accept {
			color: #fff;
			background-color: #229e32;
			&:hover {
				background-color: rgba(34, 158, 51, 0.7);
			}
		}
		.btn-decline {
			color: #ff0000;
			border: 1px solid rgba(255, 0, 0, 0.45);
			background-color: rgba(255, 0, 0, 0.2);
			margin-left: 0.75rem;
			&:hover {
				border: 1px solid rgba(255, 0, 0, 0.5);
				background-color: rgba(255, 0, 0, 0.3);
			}
		}
	}
}
.profile-link {
	color: #fff;
	text-decoration: none;
}
.friends-list{
	.search-users-wrap{
		max-height: 244px;
		overflow: hidden;
		overflow-y: auto;
	}
	.friend-list-wrap{
		padding-top: 10px;
		.friend-card{
			text-align: center;
		}
	}
}
